@keyframes popup {
  0% {
    scale: 0.2;
  }
  100% {
    scale: 1;
  }
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.apparition{
  animation: popup 0.5s, opac 0.5s;
}
