@import "../style/media-queries";

.overlay {
  position: relative;
  top: 98px;
  width: 100%;
  height: 15rem;
  @include md {
    top: 93px;
  }
  @include sm {
    top: 72px;
  }
  @include xs {
    top: 62px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
}
.description {
  display: flex;
  position: relative;
  top: -20px;
  height: 6.5rem;
  width: 6.5 rem;
  justify-content: center;
  color: var(--border);
  font-weight: 700;
  z-index: 1;
  @include sm {
    top: -48px;
  }
  @include xs {
    top: -52px;
  }
  .fontH1 {
    font-size: 5rem;
  }
}

.grid {
  display: grid;
  max-width: 1600px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "text1 img2"
    "img1 text3"
    "text2 img3";
  margin: 10rem auto;
  gap: 2rem;
  @include sm {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    margin: 2rem 0;
    gap: unset;
    grid-template-areas:
      "text1"
      "img1"
      "text2"
      "img2"
      "text3"
      "img3";
  }
  @include xs {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    margin: 0;
    gap: unset;
    grid-template-areas:
      "text1"
      "img1"
      "text2"
      "img2"
      "text3"
      "img3";
  }

  .image {
    position: relative;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    max-width: 560px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fontH2 {
      font-size: 2.5rem;
      margin: 3% 0;
    }
    .fontP {
      margin: 3% 13%;
      @include sm {
        margin: 3% 0;
        padding: 0 5%;
      }
      @include xs {
        margin: 3% 0;
        padding: 0 5% 1rem;
      }
    }
  }

  .item:nth-child(1) {
    grid-area: text1;
  }
  .item:nth-child(2) {
    grid-area: text2;
  }
  .item:nth-child(3) {
    grid-area: text3;
  }
  .image:nth-child(1) {
    grid-area: img1;
  }
  .image:nth-child(2) {
    grid-area: img2;
  }
  .image:nth-child(3) {
    grid-area: img3;
  }
}
