@import "../../style/media-queries.scss";

.shining {
  background-color: var(--shining);
}

.buttonDroite,
.buttonGauche {
  position: absolute;
  top: 50%;
  z-index: 1;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.buttonDroite {
  right: 5%;
}
.buttonGauche {
  left: 5%;
}

.containeurButtonIcon {
  position: absolute;
  display: flex;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0.6;
  transition: opacity 0.3s;
  @include xs {
    opacity: 0.9;
    top: 92%;
  }
}
