.link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-dark);
  text-decoration: none;
}
.enSavoirPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
  padding: 1rem;

  &:hover {
    color: var(--shining);
    cursor: pointer;
  }
}
