@import "../../style/media-queries.scss";

.displayFlex {
  display: flex;
  h3 {
    text-decoration: none;
  }
}
.paragraphe {
  position: absolute;
  justify-content: flex-start;
  overflow-x: hidden;
  right: 105px;
  top: 30px;
  padding-left: 8px;
  min-height: 4.5rem;
  width: 45px;
  border: 1px solid var(--text-light);
  background-color: var(--text-light);
  border-radius: 5px;
  transition: 0.8s ease;
  @include xs {
    position: fixed;
    top: 93%;
    left: 87%;
    transition: none;
    height: 4.5rem;
  }
  .taillePhone {
    font-size: 3rem;
    color: var(--text-dark);
    padding-right: 1rem;
  }
  .positionPhone {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }
  p {
    color: var(--text-dark);
    white-space: nowrap;
  }
  &:hover {
    justify-content: flex-start;
    width: 190px;
    transform: scale(1.1);
    transition: 0.8s ease;
    border: none;
    background-color: var(--shining);
    z-index: 1;
    text-overflow: ellipsis;
  }
}
.tailleLocation {
  font-size: 3rem;
  color: var(--text-dark);
}
.displayButton {
  display: none;
}
