@keyframes apparition {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.navBurger {
  display: flex;

  .burger {
    position: relative;
    z-index: 3;
    width: 3.6rem;
    height: 2.4rem;
    cursor: pointer;
    position: relative;
    &Active {
      span {
        background-color: transparent !important;
        &::before {
          background-color: var(--background) !important;
          transform: translateY(0) rotateZ(45deg) !important;
        }
        &::after {
          background-color: var(--background) !important;
          transform: translateY(0) rotateZ(-45deg) !important;
        }
      }
    }

    span {
      display: block;
      width: 3.6rem;
      height: 0.4rem;
      background-color: var(--text-dark);
      border-radius: 0.2rem;
      position: absolute;
      top: 32%;
      transform: translateY(-50%);
      transition: background-color 0.5s;
      &::before,
      &::after {
        content: "";
        border-radius: 0.2rem;
        position: absolute;
        width: 100%;
        height: 0.4rem;
        transition: transform 0.5s, background-color 0.5s !important;
      }
      &::before {
        transform: translateY(-12px);
        background-color: var(--text-dark);
      }
      &::after {
        transform: translateY(12px);
        background-color: var(--text-dark);
      }
    }
  }

  .navigation {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);

    &.enter {
      transform: translateX(100%);
      &Active,
      &Done {
        transform: translateX(0%);
        transition: transform 0.8s;
      }
    }
    &.exit {
      transform: translateX(0%);
      &Active,
      &Done {
        transform: translateX(100%);
        transition: transform 0.8s;
      }
    }
    .marginAround {
      margin: 35% 1% 1% 35%;
      .positionLink {
        display: flex;
        h3 {
          margin: 2rem 0;
          color: white;
          text-decoration: none;
        }
        .rotate180 {
          transform: rotate(180deg);
          padding: 1.9rem 1rem 2.1rem 0;
          transition: 0.3s;
        }
        .rotate {
          transform: rotate(0deg);
          padding: 2.1rem 0 1.9rem 1rem;
          transition: 0.3s;
        }
      }
      .accordion {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: 0.3s;
      }
      .active {
        height: 380px;
        transition: 0.3s;
      }
      li {
        padding-left: 2rem;
        text-decoration: none;
      }
    }
  }
}
